---
import Anime from "../components/anime"
---
<html lang="en">
	<head>
		<!-- Primary Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="Alima - 3D & Animation" />
		<meta name="description" content="Discover the magic of 3D and animation at Alima Agency! Our expert team brings your ideas to life with stunning visuals and captivating animations that engage and inspire. Whether for marketing, storytelling, or product visualization, we create immersive experiences that resonate with your audience. Transform your vision into reality with our innovative 3D solutions!" />
		<meta name="image" content="https://alima.agency/alima-agency.svg"/>
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://alima.agency/animation" />
		<meta property="og:title" content="Alima - 3D & Animation" />
		<meta property="og:description" content="Discover the magic of 3D and animation at Alima Agency! Our expert team brings your ideas to life with stunning visuals and captivating animations that engage and inspire. Whether for marketing, storytelling, or product visualization, we create immersive experiences that resonate with your audience. Transform your vision into reality with our innovative 3D solutions!" />
		<meta property="og:image" content="https://alima.agency/alima-agency.svg" />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://alima.agency/animation" />
		<meta property="twitter:title" content="Alima - 3D & Animation" />
		<meta property="twitter:description" content="Discover the magic of 3D and animation at Alima Agency! Our expert team brings your ideas to life with stunning visuals and captivating animations that engage and inspire. Whether for marketing, storytelling, or product visualization, we create immersive experiences that resonate with your audience. Transform your vision into reality with our innovative 3D solutions!" />
		<meta property="twitter:image" content="https://alima.agency/alima-agency.svg" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alima - 3D & Animation</title>
		  <!-- Google tag (gtag.js) -->
		  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
		  <script type="text/partytown">
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-Y214F10C6E');
		  </script>
	</head>
<body>
    <Anime client:load/>
</body>
</html>