---
import { BentoGridThirdDemo } from "../components/ui/design/branding/BentoThird";
import Intro from "../components/ui/design/branding/Intro";
import Process from "../components/ui/design/branding/Processes";
import { WobbleCardDemo } from "../components/ui/design/branding/WobbleCard";
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/Hero";
import Layout from "../layouts/Layout.astro";

---
<head>
  <!-- Primary Meta Tags -->
  <meta charset="utf-8">
  <meta name="title" content="Alima - Visual Branding" />
  <meta name="description" content="Transform your brand's identity with Alima Agency's Visual Branding services. We create compelling visual strategies that resonate with your audience, enhance recognition, and communicate your brand's values. From logo design to cohesive brand guidelines, our expert team will help you stand out in a crowded market and leave a lasting impression. Elevate your visual presence today!" />
  <meta name="image" content="/alima-agency.svg"/>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://alima.agency/branding" />
  <meta property="og:title" content="Alima - Visual Branding" />
  <meta property="og:description" content="Transform your brand's identity with Alima Agency's Visual Branding services. We create compelling visual strategies that resonate with your audience, enhance recognition, and communicate your brand's values. From logo design to cohesive brand guidelines, our expert team will help you stand out in a crowded market and leave a lasting impression. Elevate your visual presence today!" />
  <meta property="og:image" content="/alima-agency.svg" />
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://alima.agency/branding" />
  <meta property="twitter:title" content="Alima - Visual Branding" />
  <meta property="twitter:description" content="Transform your brand's identity with Alima Agency's Visual Branding services. We create compelling visual strategies that resonate with your audience, enhance recognition, and communicate your brand's values. From logo design to cohesive brand guidelines, our expert team will help you stand out in a crowded market and leave a lasting impression. Elevate your visual presence today!" />
  <meta property="twitter:image" content="/alima-agency.svg" />
  <title>Alima - Visual Branding</title>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-Y214F10C6E');
    </script>
</head>


<body>
    <main class="">
    <Layout>
        <Hero 
          h1="Shape Your Brand’s Identity"
          sub="In a world full of brands, make yours unforgettable"
          secBtnUrl="intro"
        />
        <div class="max-w-6xl mx-auto">
          <div id="intro">
            <Intro/>
          </div>
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <Process/>
            <CTA title="Ready to Elevate Your Brand?" sub="Let’s create a brand that stands out and connects. Contact us today to start your journey towards a stronger, more memorable brand identity."/>
        </div>
    </Layout>
    </main>
</body>