---
import { BentoGridThirdDemo } from "../components/ui/design/content/BentoThird";
import Intro from "../components/ui/design/content/Intro";
import Process from "../components/ui/design/content/Processes";
import { WobbleCardDemo } from "../components/ui/design/content/WobbleCard";
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/Hero";
import Layout from "../layouts/Layout.astro";

---
<head>
  <!-- Primary Meta Tags -->
  <meta charset="utf-8">
  <meta name="title" content="Alima - Content Creation" />
  <meta name="description" content="Elevate your brand's voice with Alima Agency's Content Creation services. Our expert team crafts engaging, high-quality content tailored to your audience, from blog posts and articles to social media and multimedia. Drive engagement, build trust, and enhance your online presence with compelling narratives that resonate. Let us help you tell your story!" />
  <meta name="image" content="/alima-agency.svg"/>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://alima.agency/content" />
  <meta property="og:title" content="Alima - Content Creation" />
  <meta property="og:description" content="Elevate your brand's voice with Alima Agency's Content Creation services. Our expert team crafts engaging, high-quality content tailored to your audience, from blog posts and articles to social media and multimedia. Drive engagement, build trust, and enhance your online presence with compelling narratives that resonate. Let us help you tell your story!" />
  <meta property="og:image" content="/alima-agency.svg" />
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://alima.agency/content" />
  <meta property="twitter:title" content="Alima - Content Creation" />
  <meta property="twitter:description" content="Elevate your brand's voice with Alima Agency's Content Creation services. Our expert team crafts engaging, high-quality content tailored to your audience, from blog posts and articles to social media and multimedia. Drive engagement, build trust, and enhance your online presence with compelling narratives that resonate. Let us help you tell your story!" />
  <meta property="twitter:image" content="/alima-agency.svg" />
  <title>Alima - Content Creation</title>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-Y214F10C6E');
    </script>
</head>


<body>
    <main class="">
    <Layout>
        <Hero 
          h1="Crafting Stories That Resonate"
          sub=" From captivating blogs and engaging videos to insightful infographics and persuasive copy, we bring your brand’s story to life."
          secBtnUrl="intro"
        />
        <div class="max-w-6xl mx-auto">
          <div id="intro">
            <Intro/>
          </div>
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <Process/>
            <CTA title="Ready to Captivate Your Audience?" sub="Let’s create content that resonates and inspires. Contact us today to start your journey towards compelling content creation."/>
        </div>
    </Layout>
    </main>
</body>