---
import { Form } from "../components/Form";
import Layout from "../layouts/Layout.astro";

---
<head>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-Y214F10C6E');
    </script>
  
  <title>Contact</title>
</head>

<main class="mx-auto max-w-6xl">
<Layout>
    <div class=" p-10">
        <Form client:load/>
    </div>
</Layout>
</main>