---
import { Form } from "../components/Form";
import Layout from "../layouts/Layout.astro";

---
<title>Contact</title>
<main class="mx-auto max-w-6xl">
<Layout>
    <div class=" p-10">
        <Form client:load/>
    </div>
</Layout>
</main>