---
import FeaturesWithHeading from "../components/Bento";
import FAQ from "../components/FAQ";
import FloatingNavDemo from "../components/Float";
import Hero from "../components/Hero";
import OurApproach from "../components/OurApproach";
import { HeroScrollDemo } from "../components/UnleashScroll";
import Whofor from "../components/Whofor.astro";
import Layout from "../layouts/Layout.astro";

---

<html lang="en">
	<head>
		<!-- Primary Meta Tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width" />
		<meta name="title" content="Alima - Supercharge your Business development!" />
		<meta name="description" content="Alima Agency specializes in Web Design & Development, Marketing & Advertising, Content Creation, Network & Security, and Visual Branding & Strategy. We empower businesses to thrive in the digital landscape through innovative design, strategic marketing solutions, engaging content, robust security measures, and cohesive branding strategies. Partner with us to elevate your brand and achieve your business goals effectively." />
		<meta name="image" content="https://alima.agency/alima-agency.svg"/>
		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://alima.agency/" />
		<meta property="og:title" content="Alima - Supercharge your Business development!" />
		<meta property="og:description" content="Alima Agency specializes in Web Design & Development, Marketing & Advertising, Content Creation, Network & Security, and Visual Branding & Strategy. We empower businesses to thrive in the digital landscape through innovative design, strategic marketing solutions, engaging content, robust security measures, and cohesive branding strategies. Partner with us to elevate your brand and achieve your business goals effectively." />
		<meta property="og:image" content="https://alima.agency/alima-agency.svg" />
		
		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://alima.agency/" />
		<meta property="twitter:title" content="Alima - Supercharge your Business development!" />
		<meta property="twitter:description" content="Alima Agency specializes in Web Design & Development, Marketing & Advertising, Content Creation, Network & Security, and Visual Branding & Strategy. We empower businesses to thrive in the digital landscape through innovative design, strategic marketing solutions, engaging content, robust security measures, and cohesive branding strategies. Partner with us to elevate your brand and achieve your business goals effectively." />
		<meta property="twitter:image" content="https://alima.agency/alima-agency.svg" />
		<title>Alima - Supercharge your Business development!</title>
		  <!-- Google tag (gtag.js) -->
		  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
		  <script type="text/partytown">
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'G-Y214F10C6E');
		  </script>
	</head>
	<body>
		<main class="mx-auto max-w-6xl">
			<Layout>
			<FloatingNavDemo client:load/>
			<Hero title="Supercharge your Business development!" client:load/>
			<div id="features">
				<FeaturesWithHeading />
			</div>
			<div id="wich">
			<Whofor/>
		    </div>
			<HeroScrollDemo client:load/>
			<OurApproach/>
			<div id="faq">
			<FAQ client:load/>
			</div>
			</Layout>
		</main>
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>
