---
import FeaturesWithHeading from "../components/Bento";
import FAQ from "../components/FAQ";
import FloatingNavDemo from "../components/Float";
import Hero from "../components/Hero";
import OurApproach from "../components/OurApproach";
import { HeroScrollDemo } from "../components/UnleashScroll";
import Whofor from "../components/Whofor.astro";
import Layout from "../layouts/Layout.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alima Agency</title>
	</head>
	<body class="bg-[#0c1e1e]">
		<main class="mx-auto max-w-6xl">
			<Layout>
			<FloatingNavDemo client:load/>
			<!-- <NavBar client:load/> -->
			<Hero client:load/>
			<FeaturesWithHeading />
			<Whofor/>
			<HeroScrollDemo client:load/>
			<!-- <Services /> -->
			<OurApproach/>
			<FAQ client:load/>
			<!-- <Footer /> -->
			</Layout>
		</main>
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>
