---
import FeaturesWithHeading from "../components/Bento";
import Footer from "../components/Footer";
import Gradient from "../components/Gradient";
import Header from "../components/Header";
import Hero from "../components/Hero";
import NavBar from "../components/NavBar";
import { StickyScrollRevealDemo } from "../components/StickyScroll";
import { FloatingNav } from "../components/ui/floating-navbar";
import { HeroScrollDemo } from "../components/UnleashScroll";
import { navItems } from "../data/index"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-[#F5F8FF]">
		<main class="mx-auto max-w-6xl">
			<FloatingNav navItems={navItems} client:load/>
			<NavBar client:load/>
			<Hero/>
			<FeaturesWithHeading />
			<HeroScrollDemo client:load/>
			<StickyScrollRevealDemo client:load/>
			<Footer />
		</main>
	</body>
</html>
