---
import FeaturesWithHeading from "../components/Bento";
import FAQ from "../components/FAQ";
import Footer from "../components/Footer";
import Hero from "../components/Hero";
import NavBar from "../components/NavBar";
import OurApproach from "../components/OurApproach";
import { FloatingNav } from "../components/ui/floating-navbar";
import { HeroScrollDemo } from "../components/UnleashScroll";
import { navItems } from "../data/index";
import Services from "../components/Usage"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-[#F5F8FF]">
		<main class="mx-auto max-w-6xl">
			<FloatingNav navItems={navItems} client:load/>
			<NavBar client:load/>
			<Hero client:load/>
			<FeaturesWithHeading />
			<HeroScrollDemo client:load/>
			<!-- <Services /> -->
			<OurApproach/>
			<FAQ client:load/>
			<Footer />
		</main>
		<script src="../../node_modules/preline/dist/preline.js"></script>
	</body>
</html>
