---
import { BentoGridThirdDemo } from "../components/ui/design/BentoThird";
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/marketing/Hero";
import { WobbleCardDemo } from "../components/ui/design/WobbleCard";
import Stage from "../components/ui/Stage";
import Layout from "../layouts/Layout.astro";


---


<title>Marketing & Advertising</title>

<body>
    <main class="">
    <Layout>
        <Hero/>
        <div class="max-w-6xl mx-auto">
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <Stage client:load />
            <CTA title="Supercharged Preline Experience" sub="Preline is a large open-source project, crafted with Tailwind CSS framework by Hmlstream."/>
        </div>
    </Layout>
    </main>
</body>
