---
import { BentoGridThirdDemo } from "../components/ui/design/BentoThird";
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/Hero";
import Intro from "../components/ui/design/marketing/Intro";
import Process from "../components/ui/design/marketing/Processes";
import { WobbleCardDemo } from "../components/ui/design/WobbleCard";
import Layout from "../layouts/Layout.astro";

---
<head>
  <!-- Google tag (gtag.js) -->
  <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
  <script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Y214F10C6E');
  </script>

  <title>Marketing & Advertising</title>
</head>



<body>
    <main class="">
    <Layout>
        <Hero 
          h1="Elevate Your Brand to New Heights"
          sub="Unlock the true potential of your brand with our comprehensive marketing and advertising solutions."
          secBtnUrl="intro"
        />
        <div class="max-w-6xl mx-auto">
          <div id="intro">
            <Intro/>
          </div>
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <Process/>
            <CTA title="Ready to Transform Your Brand?" sub=" Contact us today to start your journey towards unparalleled marketing success."/>
        </div>
    </Layout>
    </main>
</body>
