---
import { BentoGridThirdDemo } from "../components/ui/design/BentoThird";
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/marketing/Hero";
import Intro from "../components/ui/design/marketing/Intro";
import Process from "../components/ui/design/marketing/Processes";
import { WobbleCardDemo } from "../components/ui/design/WobbleCard";
import Stage from "../components/ui/Stage";
import Layout from "../layouts/Layout.astro";


---


<title>Marketing & Advertising</title>

<body>
    <main class="">
    <Layout>
        <Hero/>
        <div class="max-w-6xl mx-auto">
            <Intro/>
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <!-- <Stage client:load /> -->
             <Process/>
            <CTA title="Ready to Transform Your Brand?" sub=" Contact us today to start your journey towards unparalleled marketing success."/>
        </div>
    </Layout>
    </main>
</body>
