---
import CTA from "../components/ui/design/CTA";
import Hero from "../components/ui/design/Hero";
import { BentoGridThirdDemo } from "../components/ui/design/security/BentoThird";
import Intro from "../components/ui/design/security/Intro";
import Process from "../components/ui/design/security/Processes";
import { WobbleCardDemo } from "../components/ui/design/security/WobbleCard";
import Layout from "../layouts/Layout.astro";

---
<head>
  <!-- Primary Meta Tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <meta name="title" content="Alima - Network & Security" />
  <meta name="description" content="Protect your digital assets with Alima Agency's comprehensive Network & Security solutions. Our expert team offers tailored strategies to safeguard your business from cyber threats, ensuring data integrity and compliance. From risk assessments to ongoing support, we provide the peace of mind you need to focus on growth. Secure your future with Alima Agency today!" />
  <meta name="image" content="https://alima.agency/alima-agency.svg"/>
  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://alima.agency/security" />
  <meta property="og:title" content="Alima - Network & Security" />
  <meta property="og:description" content="Protect your digital assets with Alima Agency's comprehensive Network & Security solutions. Our expert team offers tailored strategies to safeguard your business from cyber threats, ensuring data integrity and compliance. From risk assessments to ongoing support, we provide the peace of mind you need to focus on growth. Secure your future with Alima Agency today!" />
  <meta property="og:image" content="https://alima.agency/alima-agency.svg" />
  
  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://alima.agency/security" />
  <meta property="twitter:title" content="Alima - Network & Security" />
  <meta property="twitter:description" content="Protect your digital assets with Alima Agency's comprehensive Network & Security solutions. Our expert team offers tailored strategies to safeguard your business from cyber threats, ensuring data integrity and compliance. From risk assessments to ongoing support, we provide the peace of mind you need to focus on growth. Secure your future with Alima Agency today!" />
  <meta property="twitter:image" content="https://alima.agency/alima-agency.svg" />
  <title>Alima - Network & Security</title>
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-Y214F10C6E"></script>
    <script type="text/partytown">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-Y214F10C6E');
    </script>
</head>

<body>
    <main class="">
    <Layout>
        <Hero 
          h1="Secure, Reliable, and Efficient"
          sub="From network design and management to cybersecurity strategies and compliance, we safeguard your digital assets and enhance your operational efficiency."
          secBtnUrl="intro"
        />
        <div class="max-w-6xl mx-auto">
          <div id="intro">
            <Intro/>
          </div>
            <BentoGridThirdDemo client:load/>
            <WobbleCardDemo client:load/>
            <Process/>
            <CTA title="Ready to Secure Your Network?" sub="Let’s fortify your business against digital threats. Contact us today to start your journey towards secure and efficient networking."/>
        </div>
    </Layout>
    </main>
</body>