---
import BlurIn from "../components/Text/Blurin"
import SparklesText from "../components/Text/SparklesText"
import Layout from "../layouts/Layout.astro"
import {AnimatedBeamDemo} from "../components/ui/Beam"
import {MacbookScrollDemo} from "../components/ui/MacbookScroll"
import Stage from "../components/ui/Stage"
import { TypewriterEffectSmooth } from "../components/ui/typewriter-effect"
import BentoWeb from "../components/ui/design/BentoWeb"
import CTA from "../components/ui/design/CTA"
const words = [
    {
      text: "Transform",
    },
    {
      text: "Your",
    },
    {
      text: "Vision",
    },
    {
      text: "into a",
    },
    {
      text: "Stunning",
    },
    {
      text: "Website.",
      className: "text-blue-500 dark:text-blue-500",
    },
];

---

<title>Web Design & Development</title>

<body>
    <main class="mx-auto max-w-6xl">
    <Layout>
        <div class="h-full mt-4 m-10">
            <MacbookScrollDemo client:load/>
            <div class="justify-center items-center md:p-20">
                <BlurIn client:load
                word="We create beautiful websites that drive business growth"
                className="text-3xl font-normal text-[#f3f5f4]"
                />
                <p class="p-4 mt-10 md:p-10 text-[#dedbcc]">We are Alima agency, an award-winning web design agency focused on transparency and creativity. Our mission is to tailor innovative web design solutions that align with your vision. Understanding the importance of your brand, we specialize in custom website design and development, ensuring each project is uniquely crafted to meet your specific needs.</p>
            </div>
        </div>
        <div class="m-10 h-auto bg-gradient-to-b md:bg-gradient-to-r from-[#70fe90] rounded-2xl">
            <div class="grid md:grid-cols-2">
                <div class="p-10">
                    <SparklesText client:load
                     text="Custom websites, backed by strategy" />
                </div>
                <div class="p-4 sm:p-10 text-[#e5eae6]">
                    <p class="text-justify text-base font-normal">A <b>strong online presence</b> is essential to ensure the success of any business as it impacts how your audience perceives your brand. In order to <b> maximize growth</b>, a business needs to clearly differentiate itself from the vast sea of <b>competition</b>.  At Alima Agency, we specialize in designing websites that are not only visually stunning but also user-friendly, ensuring your brand makes an <b>unforgettable impression</b> .

                        Our team of web designers and expert web developers is passionate about modern web design and deeply understands the psychology of user experience. This combination results in a perfect blend of <b>aesthetic</b> appeal and functional excellence, all designed to help you achieve your business objectives through your website.</p>
                </div>
            </div>
            <div class="mt-4 border-t border-white pt-4 sm:mt-4 lg:mt-4"></div>
            <p class="text-center pb-6 text-[#e5eae6]">Making the Growth effortless for Hundreds of Businesses</p>
        </div>
        <div class="mt-32 mb-10">
        <h2 class="text-center text-4xl text-[#e5eae6]">Effortless Software Integration</h2>
        <AnimatedBeamDemo client:load/>
        </div>

        <BentoWeb/>
        <Stage client:load />
        <CTA title="Supercharged Preline Experience" sub="Preline is a large open-source project, crafted with Tailwind CSS framework by Hmlstream."/>

    </Layout>
    </main>
    <script src="../../node_modules/preline/dist/preline.js"></script>
</body>