---
import { WobbleCard } from "./ui/wobble-card";
---

<section class="py-24">
    <div class="px-2 sm:px-6 lg:px-0 my-16 grid grid-cols-1 lg:grid-cols-2 gap-8 max-w-7xl mx-auto w-full">
        <WobbleCard client:load
          containerClassName="col-span-1 lg:col-span-1 h-full bg-[#008081] min-h-[500px] lg:min-h-[800px]"
          className=""
        >
          <div class="max-w-lg">
            <h2 class="text-left text-balance text-base md:text-xl lg:text-3xl font-semibold tracking-[-0.015em] text-[#19191c]">
                Just Started Your Business and Need a Strong Digital Presence ?
            </h2>
            <p class="mt-4 text-justify  text-base/6 text-[#19191c]">
                Embarking on a new business venture is exhilarating, but establishing a strong digital footprint is crucial for success in today's competitive market. Our comprehensive services are tailored to help new entrepreneurs like you create a professional and impactful online presence. From designing a captivating website to developing a cohesive brand identity, we provide all the tools you need to attract and engage your target audience from the very beginning. Let us be your partner in building a solid foundation for your business, ensuring you stand out and thrive in the digital landscape.
            </p>
          </div>
          <img
            src="/freedom.svg"
            width={500}
            height={500}
            alt="Brand Strategy"
            class="hidden md:block absolute -right-4 lg:-right-[0%] -bottom-20 object-contain"
          />
          </WobbleCard>
        <WobbleCard client:load
          containerClassName="col-span-1 lg:col-span-1 h-full bg-[#008081] min-h-[500px] lg:min-h-[300px]"
          className=""
        >
          <div class="max-w-lg">
            <h2 class="text-left text-balance text-base md:text-xl lg:text-3xl font-semibold tracking-[-0.015em] text-[#19191c]">
                Looking to Upgrade Your Existing Business ?
            </h2>
            <p class="mt-4 text-justify text-base/6 text-[#19191c]">
                In an ever-evolving digital world, staying ahead of the curve is essential for sustained growth and success. If your established business needs a refresh or a complete digital transformation, our expert team is here to help. We specialize in revamping websites, refining brand identities, and crafting targeted advertising campaigns that resonate with your audience. By leveraging the latest technologies and trends, we ensure your business not only keeps pace but also excels in the digital realm. Elevate your brand, optimize your digital strategy, and unlock new opportunities for growth with our tailored upgrade solutions.
            </p>
          </div>
          <img
            src="/freedom.svg"
            width={500}
            height={500}
            alt="Brand Strategy"
            class="hidden md:block absolute -right-4 lg:-right-[0%] -bottom-20 object-contain"
          />
          </WobbleCard>
    </div>

</section>